// Typography

$base-font: 16px;

// $Neuton: font-family: 'Neuton', serif;
// $Nunito: font-family: 'Nunito', sans-serif;
body {
  font-size: $base-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neuton', serif;
}

.sub {
  h1 {
    text-align: center;
    padding: 2em 0 1em 0;
    font-size: 3em;
    color: $secondary;
  }

}

.firstp {
  font-size: 1.4em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-top: 1px solid rgba(black, 0.2);
  border-bottom: 1px solid rgba(black, 0.2);
  font-style: italic;
}

p, a.button {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

a.button {
  font-size: 2.0rem;
}

blockquote {
  border: none;
   // margin-top: 5rem; 
   // padding-bottom: 2rem; 
  p {
    color: $tertery;
    font-family: 'Neuton', serif;
    font-style: italic;
    font-size: 3.4rem;
    border-left: 3px $sub1 solid;
  }
}

.hero {
  background: $secondary url(../img/bg-feat_600.jpg) 50% 0 no-repeat;
  @include bp(601px,990px) {
    background: $secondary url(../img/bg-feat_990.jpg) 50% 0 no-repeat;
  }
  @include bp(991px,1400px) {
    background: $secondary url(../img/bg-feat_1400.jpg) 50% 0 no-repeat;
  }
  @include bp(1400px,4000px) {
    background: $secondary url(../img/bg-feat.jpg) 50% 0 no-repeat;
  }

  background-size: cover!important;
  color: white;
  text-align: center;
  // height: 500px;
  // margin: 0 auto;
  width: 100%;
  position: relative;
}

header {
  padding: rem-calc(200px) 0 rem-calc(100px) 0;
  @include bp(0,600px){
    padding-top: rem-calc(100px);
  }
  h1 {
    @include hide-text;
    // background: url('../img/G56LogoFinalRoundWhite.svg') top center no-repeat;
    // max-width: 1000px;
    // min-height: 140px!important;
  }
  h2 {
    padding-bottom: 5rem;
    font-style: italic;
    @include bp(0,500px){
      font-size: 2rem;
      font-weight: 200;
      font-style: normal;
    }
  }
  .button {
    background-color: rgba(white, 0.1);
    padding: 1rem;
    border-radius: 100px;
    border: 1px $sub1 solid;
    color: white;
    transition: all 0.5s ease;
    // margin-top: rem-calc(100px);
    &:hover {
      text-decoration: none;
      border: 1px $sub2 solid;
      background-color: $sub2;
      color: $secondary;
    }
  }
  .logo {
    @include bp(0,599px){
      padding-bottom: rem-calc(50px);;
    }
    @include bp(600px,4000px){
      padding: 8rem;
      padding-top: 2rem;
    }
  }
}

footer {
  background-color: $primary;
  color: white;
}

.footer-bar {
  background-color: $secondary;
  padding: 1rem 0;
  img {
    margin-bottom: 0;
  }
}

// Navigation
nav {
  width: 100%;
  position: absolute;
}

.home .longlogo {
  display: none;
}

.longlogo {
  height: 50px;
  position: relative;
  top: 10px;
  left: 10px;
  svg {
    /* width: 50%; */
    max-height: 50px;
    // height: 100%;
  }
}

.sub nav {
  z-index: 50;
  position: absolute;
  height: 70px;
  background: $secondary; //url(../img/G56Logo.svg) top left no-repeat;
  // padding: 1rem;
  // padding: 1rem 0;
}

.hide {
  @include bp(0,991px){
    display: none;
  }
}

.navigation {
  display: block;
  @include clean;
  padding: 1rem 0;
  position: relative;
  margin: 1rem 0;
  z-index: 30;
  transition: all 0.5s ease;
  @include bp(0,991px){
    position: absolute;
    top: -1000px;
    &.show {
      top: -10px;
    }
  }
  li {
    @include clean;
    font-family: 'Nunito', serif;
    display: inline;
    color: white;
    font-size: 1.2em;
    font-weight: 200;
    padding: 0.5em 2em;
    a {
      color: white;
      padding: 0 0.5em;
      transition: all 0.25s ease;
      &:hover {
        text-decoration: none;
        @include bp(992px,4000px) {
          border-bottom: 2px solid $primary;
          }
        color: $primary;
      }
      &:active {
        @include bp(992px,4000px) {
          border-bottom: 2px solid $secondary;
        }
        color: $secondary;
      }
    }
  }
}
.sub .navigation {
  float: right;
  li {
    padding: 0.5em 1em;
  }
  @include bp(0,991px){
    position: absolute;
    top: -1000px;
    &.show {
      top: 60px;
    }
  }
}



// Appear on scroll
//  nav.show {
//   position: fixed;
//   background-color: rgba(white, 0.8);
//   border-bottom: 1px solid $sub1;
//   z-index: 40;
//   .navigation {
//     li {
//       a {color: $secondary;}
//     }
//   }
// } 

.img-border {
  padding: 2rem;
  // margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgba($secondary, 0.025);
  border: 1px double rgba($secondary, 0.2);
  // border-radius: 5px;
  max-width: 100%;
  box-shadow: rgba(black, 0.2) 0 1px 5px;
}


//  .nav-button {
//   width: rem-calc(90px);
//   height: rem-calc(90px);
//   background-color: $primary;
//   position: fixed;
//   top: 2rem;
//   left: 2rem;
//   border-radius: 100%;
//   box-shadow: rgba(black, 0.4) 0px 5px 8px;
//   cursor: pointer;
//   z-index: 20;
//   &:hover {
//     background-color: $sub2;
//     box-shadow: rgba(black, 0.2) 0px 10px 10px;
//   }
//   &:active, &:focus {
//     background-color: $sub1;
//     box-shadow: rgba(black, 0.4) 0px 2px 2px;
//   }
// }

// Logo Animation

/*body {
  background: red;
}*/
/*
svg.logoanimation {
  cursor: pointer;
  g.group {
    path {
      fill: none;
      stroke: #FFF;
      stroke-linecap: round;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      stroke-width: 1;
      animation-delay: 2s;
      animation: draw 5s linear;
      animation-fill-mode: forwards;
      animation-duration: 3s;
      @if false {
        animation-iteration-count: infinite;
      } @else {
        animation-iteration-count: 1;
      }
    }
    @keyframes draw {
      0% {
        stroke-dashoffset: 1000;
      }
      80% {
        stroke-width: 1;
      }
      90% {
        stroke-dashoffset: 0;
        fill: rgba(white, 0);
      }
      100% {
        stroke-width: 0;
        fill: rgba(white, 1);
      }
    }
  }
}


 */


.logoanimation .group path {
  fill: none;
  stroke: #FFF;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 1;
  animation-delay: 0.5s;
  animation: draw 3s cubic-bezier(0.72, 0.01, 0.97, 0.99);
  animation-fill-mode: forwards;
  /* animation-duration: 3s; */
  animation-iteration-count: 1;
  z-index: 10;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }
  80% {
    stroke-width: 1;
  }
  90% {
    stroke-dashoffset: 0;
    fill: rgba(255, 255, 255, 0);
  }
  100% {
    stroke-width: 0;
    fill: white;
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( -5px -5px 5px #000 ); /* Same syntax as box-shadow */
  }
}

footer {


}
.footer-bar {
  min-height: 100px;
}
.morgan, .garage56 {
  height: 70px;
  float: left;
  padding: 1rem;
}

.footernav {
  @include clean;
  @include bp(600px,4000px){
    float: right;
  }
  li {
    list-style: none;
    padding: 3rem 0.75rem;
    color: white;
    text-align: center;
    @include bp(0px,599px) {
      width: 100%;
    }
    @include bp(600px,4000px) {
      display: inline-block;
      text-align: left;
    } 
    a {
      color: white;
    }
  }
}

.date {
  padding: 0;
  margin: 0;
}

ul.tweets{
  li {
    margin-bottom: 3rem;
  }
}

p.tweet {
  padding: 0;
  margin-bottom: 1rem;
}

.gallery {
  li {
    list-style: none;
  }
}

.tweets {
  padding: 0;
  h4 {
    color: $secondary;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  li {
    list-style: none;
    padding: 0;
    margin-bottom: 4em;
  }
  p.tweet {
    padding: 0;
    font-size: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid $secondary;
  }
  .date {
    font-size: 0.75em;
  }
}

// Bootstrap Defaults Over-rides

.btn {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.btn-primary {
  @include clean;
  background-image: none;
  background-color: $secondary;
  padding: 1rem;
  border-radius: 100px;
  border: 1px $secondary solid;
  color: white;
  transition: all 0.5s ease;
  // margin-top: rem-calc(100px);
  &:hover {
    text-decoration: none;
    border: 1px $secondary solid;
    background-color: rgba(white,0.2);
    color: $secondary;
  }
}


