// column counts
@mixin column2 {
  @media screen and (min-width: 600px) {
    column-count: 2;
  }
}
@mixin column3 {
  @media screen and (min-width: 600px) and (max-width: 991px){
    column-count: 2;
  }
  @media screen and (min-width: 992px) {
    column-count: 3;
  }
}
