#carousel-generic.carousel.slide(data-ride='carousel')
  // Indicators
  ol.carousel-indicators
    li.active(data-target='#carousel-generic', data-slide-to='0')
    li(data-target='#carousel-generic', data-slide-to='1')
    // li(data-target='#carousel-generic', data-slide-to='2')
  // Wrapper for slides
  .carousel-inner(role='listbox')
    .item.active
      img.img-responsive.center-block(src='assets/img/IMG_1429_sm.jpg', alt='Car Parts')
      .carousel-caption
        | Something Something
    .item
      img.img-responsive.center-block(src='assets/img/IMG_0957.jpg', alt='Car Parts')
      .carousel-caption
        | More Somethings
  // Controls
  //- a.left.carousel-control(href='#carousel-generic', role='button', data-slide='prev')
  //-   span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
  //-   span.sr-only Previous
  //- a.right.carousel-control(href='#carousel-generic', role='button', data-slide='next')
  //-   span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
  //-   span.sr-only Next
