footer
  .container
    ul.col-md-4.gallery
      li.col-xs-6.col-md-6
        img(src='assets/img/IMG_0875_sm.jpg' alt='')
      li.col-xs-6.col-md-6
        img(src='assets/img/IMG_0875_sm.jpg' alt='')
      li.col-xs-6.col-md-6
        img(src='assets/img/IMG_0875_sm.jpg' alt='')
      li.col-xs-6.col-md-6
        img(src='assets/img/IMG_0875_sm.jpg' alt='')
    p.col-md-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eveniet, laboriosam id cumque sunt praesentium voluptate. Labore, autem, officiis, consequuntur minus accusantium incidunt esse aut nisi quas deserunt obcaecati provident est laborum amet ipsam aliquid iste ratione tempore deleniti ut cumque ipsa voluptatum alias magnam officia id omnis.
    ul.tweets.col-md-4
      li 
        h4 Latest Post
        p.tweet 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, placeat, odio deserunt amet explicabo tenetur nostrum reprehenderit impedit consequatur quos aut perspiciatis.
        p.date June 13th 2015
      li 
        h4 Latest Tweet
        p.tweet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, placeat, odio deserunt amet explicabo tenetur nostrum reprehenderit impedit consequatur quos aut perspiciatis.
        p.date June 13th 2015
.footer-bar
  .container
    img.morgan(src='assets/img/MorganWhite@2x.png' alt='Morgan Logo')
    img.garage56(src='assets/img/Garage56LogoFinalLongWhiteCopy@2X.png' alt='Garage 56 Logo')
    ul.footernav
      li copyright 2015
      li 
        a(href="index.html") Home
      li 
        a(href="about.html") About
      li 
        a(href="contact.html") Contact
      li 
        a(href="store.html") Store
//- This will only load in Googlefonts is specified in the config file
if GoogleFonts
  link(href='http://fonts.googleapis.com/css?family=' + GoogleFonts, rel='stylesheet', type='text/css')
if Skrollr
  script(src='assets/js/skrollr.min.js')
  script(type='text/javascript').
    skrollr.init();
script(src='assets/js/postscripts.js')

  
