head
  title
    block title #{PageTitle}
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='A description about this page')
  if jQuery
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  if Bootstrap
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  if BootstrapTheme
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css', rel='stylesheet', type='text/css')
  if BootstrapJS
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  link(href='assets/css/style.css', rel='stylesheet', type='text/css')
  if Modernizr
    script(src='assets/js/modernizr.js')
  script(src='assets/js/prescripts.js')