// General

p.container {
	margin-top: rem-calc(160px);
	margin-bottom: rem-calc(160px);
	@include bp(min,770px) {
		column-count: 2
  }
}

// Buttons

// Nav

.navigation {

	@include bp(0,991px) {
		background-color: $secondary;
		width: 100%;
		position: absolute;
		}
	li {
		@include bp(0,991px){

		}
		a {
			display: inline;
			@include bp(0,991px){
				display: block;
				text-align: center;
				&:hover, &:active, &:focus {
					border-bottom: none;
				}
			}
		}
	}
}

.menubutton {
	color: white;
	position: absolute;
	font-size: 2rem;
	font-family: 'Nunito', sans-serif;
	background-color: rgba(white, 0.1);
	font-weight: 100;
	border: 1px solid white;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	top: 1.5rem;
	left: 2rem;
	cursor: pointer;
	z-index: 60;
	transition: all 0.5s ease;
	&:hover, &:active, &:focus {
		color: $secondary;
		background-color: $sub2;
		text-decoration: none;
	}
	@include bp(992px,4000px) {
		display: none;
	}
}

// Hero

.hero {
	min-height: 80vh;
	margin-bottom: rem-calc(100px);
	/* max-height: 100vh; */
}

// Carousel

#carousel-generic, .carousel-inner {
	max-height: rem-calc(750px);
}

// Image Boxes

.content-block {
	margin-top: rem-calc(200px);
	// margin-bottom: rem-calc(200px);
}


// Blockquotes

blockquote {
	margin-bottom: rem-calc(100px);
	margin-top: rem-calc(100px);
}

// Parallax Scrolling images

.parallax-image {
	background: $primary url('../img/IMG_1429_sm.jpg') 50% 0 no-repeat fixed;
	// min-height: 300px;
	background-size: cover;
	// height: 300px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	img {
		padding: rem-calc(100px) 0;
		margin-bottom: 0;
	}
}

// Footer

footer {
	padding-top: rem-calc(100px);
	padding-bottom: rem-calc(100px);
	margin-top: rem-calc(100px);
}

// Item Detailed
.mainfeat {
	background-size: cover;
}

.subimages {
	padding-top: 2rem;
	border-top: 1px solid $sub1;
	li {
		list-style: none;
	}
}
.itemfeatures {
	margin-left: 3rem;
	font-weight: bold;
	li {
		list-style-position: inside;
	}
}
// Footer Bar


// #home {
//   background: url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_529f43206a94b_1.JPG) 50% 0 repeat fixed; min-height: 500px;
//   height: 500px;
//   margin: 0 auto;
//   width: 100%;
//   max-width: 1920px;
//   position: relative;
// }
//
// #home article {
//   height: 458px;
//   position: absolute;
//   text-align: center;
//   top: 150px;
//   width: 100%;
//   color: white;
//   font-size: 3em;
//   line-height: 1em;
// }

// Sales Page

.salesitems {
	@include clean;
	float:left;
	height: auto;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid $sub1;
	img {margin-bottom: 20px;}
	h2 {margin-top: 0;}
	li {list-style: none;}
	> li {margin-bottom: 5rem;}
}
.features {
	@include clean;
	padding-left: 1.5em;
	margin-bottom: 2em;
	li {
		list-style-type: circle;
		color: $secondary;
		font-weight: 300;
		/* font-size: 1.2em; */
		line-height: 1.9em;
	}
}

img, p {
	/* margin-top: 40px; */
	margin: 0 0 40px 0;
}

.column2 {@include column2;}
.column3 {@include column3;}

.cleft {clear: left;}
.cright {clear: right;}
.cboth {clear: both;}
.fleft {float: left;}
.fright {float: right;}
.margin-top {margin-top: 2rem;}
.margin-right {margin-right: 2rem;}
.margin-bottom {margin-bottom: 2rem;}
.margin-left {margin-left: 2rem;}
.margin-all {margin: 2rem;}
