extends assets/templates/master
append config
  - var PageTitle      = "Garage 56! All kinds of Awesome"
  - var jQuery         = true
  - var Bootstrap      = true
  - var BootstrapTheme = true
  - var BootstrapJS    = true
  - var Modernizr      = true
  - var Skrollr        = false
  - var Snap           = false
  - var PageSlug       = "Garage 56"
block body
  body.about.sub
    include assets/templates/includes/navigation
    .container
      h1 About Us
      p.firstp.col-md-10.col-md-offset-1.cboth Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sapiente, minus, a ex, optio temporibus consectetur sunt quos eveniet, eaque culpa odit molestiae iusto placeat nobis. Similique blanditiis id, delectus iure, maiores corporis tenetur sunt recusandae.
      .cboth
      img.col-md-4.img-border.margin-right(src='assets/img/IMG_0875_sm.jpg' alt='')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sapiente, minus, a ex, optio temporibus consectetur sunt quos eveniet, eaque culpa odit molestiae iusto placeat nobis. Similique blanditiis id, delectus iure, maiores corporis. Lorem ipsum maiores corporis tenetur sunt recusandae, porro alias esse aperiam eius laudantium consectetur! Ipsam ratione vel nemo voluptas, deleniti provident vitae laborum similique officiis, deserunt illo.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sapiente, minus, a ex, optio temporibus consectetur sunt quos eveniet, eaque culpa odit molestiae iusto placeat nobis. Similique blanditiis id, delectus iure, maiores corporis tenetur sunt recusandae, porro alias esse aperiam eius laudantium consectetur! Ipsam ratione vel nemo voluptas, deleniti provident vitae laborum similique officiis, deserunt illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum sapiente sint, voluptates, adipisci delectus ad placeat fugit debitis a ea minima possimus reprehenderit recusandae assumenda et. Magnam autem nobis nisi labore perspiciatis odit molestiae iusto placeat nobis. Similique blanditiis id, delectus iure, maiores corporis tenetur sunt recusandae, porro alias esse aperiam eius laudantium consectetur! Ipsam ratione vel nemo voluptas, deleniti provident vitae laborum similique officiis, deserunt illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum sapiente sint, voluptates, adipisci delectus ad placeat fugit debitis a ea minima possimus reprehenderit recusandae assumenda et. Magnam autem nobis nisi labore perspiciatis?
      blockquote.container  
        p.col-md-8.col-md-offset-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nostrum dolores expedita totam hic.
      .cboth
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sapiente, minus, a ex, optio temporibus consectetur sunt quos eveniet, eaque culpa odit molestiae iusto placeat nobis. Similique blanditiis id, delectus iure, maiores corporis tenetur sunt recusandae, porro alias esse aperiam eius laudantium consectetur! Ipsam ratione vel nemo voluptas, deleniti provident vitae laborum similique officiis, deserunt illo.
      p.column2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam repellat pariatur consectetur iure mollitia magnam esse deleniti quo quaerat quas itaque perspiciatis et qui ipsa, maiores culpa. Dolores consequuntur at omnis odio quod minus temporibus consectetur ea veritatis ab commodi debitis dolorum minima, doloribus! Quis vitae laboriosam tempore voluptatem ipsa at qui odio obcaecati debitis placeat doloremque, esse, expedita totam rerum. Fugit, doloremque. Obcaecati itaque vel illum. Mollitia rerum atque, eveniet voluptate sapiente nulla laborum praesentium iste accusamus amet cumque minus quisquam facere consequatur impedit saepe quod quaerat quasi, laboriosam laudantium ipsum? Aliquam qui possimus eaque veniam tempore deleniti nisi earum odio dignissimos asperiores molestiae animi ex suscipit molestias, officia fugit, sed id nostrum consectetur esse enim voluptas. Exercitationem!
      img.col-md-8.col-md-offset-2.img-border(src='assets/img/IMG_0875_sm.jpg' alt='')
      .cboth
      p.column3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo, aperiam maxime fuga. Nostrum earum, neque officia vel enim animi, quasi quaerat doloribus facilis natus quia corrupti nihil, esse id, laudantium! Perspiciatis nostrum dolore nisi animi molestias voluptates nemo. Vel pariatur perspiciatis hic voluptate inventore ut incidunt reiciendis fugit? Dolore recusandae, voluptatibus, am incidunt aliquid doloribus natus optio delectus, assumenda odit aut quae deserunt minima. Itaque sit culpa debitis quaerat similique, possimus repellendus nihil atque unde exercitationem voluptatum. Tenetur impedit assumenda officia quos rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus praesentium rerum, distinctio aut vero eius corporis aliquam harum. Ut, cumque impedit esse labore ipsum ratione vel tenetur amet rem blanditiis.
    include assets/templates/includes/footer
