extends assets/templates/master
append config
  - var PageTitle      = "Garage 56! All kinds of Awesome"
  - var jQuery         = true
  - var Bootstrap      = true
  - var BootstrapTheme = true
  - var BootstrapJS    = true
  - var Modernizr      = true
  - var Skrollr        = false
  - var Snap           = false
  - var PageSlug       = "Garage 56"
block body
  body.contact.sub
    include assets/templates/includes/navigation
    .container
      h1 Contact Us
      h2 Get in touch!
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sapiente, minus, a ex, optio temporibus consectetur sunt quos eveniet, eaque culpa odit molestiae iusto placeat nobis. Similique blanditiis id, delectus iure, maiores corporis tenetur sunt recusandae, porro alias esse aperiam eius laudantium consectetur! Ipsam ratione vel nemo voluptas, deleniti provident vitae laborum similique officiis, deserunt illo.
      iframe(width='100%', height='260', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19762.99104241106!2d-0.9742160000000001!3d51.7444865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487692ccccc246a1%3A0xf5b79ef2a4cccee2!2sThame%2C+Oxfordshire+OX9!5e0!3m2!1sen!2suk!4v1434653479411', style='border:0')
      .location.col-md-6
        h2(style='padding-top: 0.75em; padding-bottom: 0.5em;') How to Find Us
        .span4
          address
            h3 Garage 56
            br
            | 112 High Street
            br
            | Thame
            br
            | Oxfordshire
            br
            | United Kingdon
            br
            | OX9 3DZ
            br
            br
            abbr(title='Phone') P:
            |  01844 318131
      .col-md-6
        .form-area
          form(role='form')
            br(style='clear:both')
            h2(style='margin-bottom: 25px') Contact Form
            .form-group
              input#name.form-control(type='text', name='name', placeholder='Name', required='')
            .form-group
              input#email.form-control(type='text', name='email', placeholder='Email', required='')
            .form-group
              input#mobile.form-control(type='text', name='mobile', placeholder='Mobile Number', required='')
            .form-group
              input#subject.form-control(type='text', name='subject', placeholder='Subject', required='')
            .form-group
              textarea#message.form-control(type='textarea', placeholder='Message', maxlength='140', rows='7')
            button#submit.btn.btn-primary.pull-right(type='button', name='submit') Submit Form
    include assets/templates/includes/footer
