extends assets/templates/master
append config
  - var PageTitle      = "Garage 56! All kinds of Awesome"
  - var jQuery         = true
  - var Bootstrap      = true
  - var BootstrapTheme = true
  - var BootstrapJS    = true
  - var Modernizr      = true
  - var Skrollr        = false
  - var Snap           = false
  - var PageSlug       = "Garage 56"
block body
  body.home
    .hero
      include assets/templates/includes/navigation
      header.container
        h1 Garage 56
        a.logo.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-4(href='index.html')
          svg.logoanimation(
            viewbox='0 0 199 177', 
            version='1.1', 
            xmlns='http://www.w3.org/2000/svg', 
            xmlns:xlink='http://www.w3.org/1999/xlink', 
            xml:space='preserve', 
            style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:bevel;'
            )
            switch
              g.group
                path(d='M110.79,0.402794c-30.388,0 -57.217,15.517 -72.988,39.042l2.438,0c15.505,-22.36 41.339,-37.042 70.55,-37.042c47.317,0 85.813,38.496 85.813,85.813c0,47.318 -38.496,85.813 -85.813,85.813c-34.003,0 -63.449,-19.879 -77.329,-48.625l-2.208,0c14.027,29.881 44.402,50.625 79.537,50.625c48.42,0 87.813,-39.393 87.813,-87.813c0,-48.42 -39.393,-87.813 -87.813,-87.813Z')
                path(d='M64.3108,66.6838l-12.485,0c0.107,-0.748 0.214,-1.708 0.214,-2.349c0,-5.121 -3.737,-6.936 -14.193,-6.936c-14.832,0 -18.033,5.763 -21.447,24.969c-1.066,6.295 -1.815,11.098 -1.815,14.725c0,8.003 3.735,10.245 13.552,10.245c17.394,0 18.354,-7.257 20.807,-20.594l-17.712,0l1.921,-10.884l29.663,0l-7.47,42.041l-9.922,0l0.96,-5.335c-0.641,0.428 -7.15,6.188 -20.808,6.188c-18.779,0 -23.689,-7.468 -23.689,-19.632c0,-4.803 0.748,-10.459 1.922,-16.86c3.947,-22.409 7.681,-36.279 35.853,-36.279c14.297,0 25.074,3.52 25.074,15.471c0,1.601 -0.105,3.522 -0.425,5.23Z')
                path(d='M155.287,90.8648c0,4.872 -1.36,13.483 -4.646,16.995c-2.379,2.493 -5.892,3.512 -11.217,3.512c-7.59,0 -11.103,-2.379 -11.103,-8.951c0,-4.872 1.359,-11.33 4.872,-14.842c2.664,-2.663 6.532,-3.905 11.906,-3.956l1.102,0c6.251,0.099 9.086,1.472 9.086,7.242ZM171.716,64.8048c0,-0.226 0.339,-1.019 0.339,-3.172c0,-12.236 -10.084,-15.862 -22.207,-15.862c-3.738,0 -14.389,-0.34 -21.64,6.912c-4.575,4.574 -6.763,11.587 -8.347,19.383l-47.596,0l-7.93,44.641l12.462,0c1.134,-4.532 3.173,-7.591 13.823,-7.591c7.818,0 10.424,1.473 10.424,7.138c0,4.758 -1.586,13.936 -4.758,17.335c-2.38,2.493 -6.005,3.286 -12.011,3.286c-7.817,0 -10.763,-1.134 -10.763,-5.099c0,-0.68 0.113,-1.36 0.226,-2.153l-12.576,0c-0.227,1.473 -0.34,2.72 -0.34,3.966c0,12.01 11.331,14.955 23.34,14.955c9.744,0 16.202,-1.585 20.621,-5.665c6.344,-5.891 9.178,-20.167 9.178,-28.891c0,-9.857 -4.533,-16.429 -18.583,-16.429c-4.871,0 -12.236,0.567 -15.974,3.852l3.171,-17.788l35.23,0c-0.045,0.261 -0.089,0.523 -0.134,0.784c-0.907,4.985 -2.039,14.842 -2.039,18.808c0,14.162 7.817,19.827 21.866,19.827c10.424,0 17.222,-2.266 21.754,-6.684c6.458,-6.232 8.951,-18.695 8.951,-27.646c0,-11.673 -7.077,-16.375 -18.292,-16.631l0.003,-0.015l-0.593,0c-0.129,-0.001 -0.25,-0.009 -0.379,-0.009c-0.391,0 -0.786,0.003 -1.184,0.009l-14.699,0c1.254,-6.012 2.195,-8.868 4.892,-11.566c2.72,-2.719 7.931,-3.172 11.557,-3.172c6.798,0 9.858,1.473 9.858,5.551c0,0.567 -0.114,1.247 -0.227,1.926l12.577,0Z')
              foreignObject
                img(src='assets/img/G56LogoFinalRoundWhite@2X.png')
        h2.col-md-8.col-md-offset-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nostrum accusamus ipsum sit odit rem mollitia, quod dolorem sequi.
        a.button.cta.col-xs-10.col-xs-offset-1.col-md-2.col-md-offset-5(href='#') Find Out More
    .container
      h3.col-md-8.col-md-offset-2 Lorem ipsum dolor sit amet, 
        a(href="#") this is an inline link.
        | Tempore, quas, unde fugit excepturi magnam ab numquam obcaecati saepe hic facilis exercitationem quasi aspernatur.
    p.container Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, adipisci, nesciunt tenetur quidem quam velit architecto aliquid sed tempore cupiditate omnis nihil expedita suscipit laborum molestias obcaecati iste eius fugit sit veritatis odio libero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, adipisci, nesciunt tenetur quidem quam velit architecto aliquid sed tempore cupiditate omnis nihil expedita suscipit laborum molestias obcaecati iste eius fugit sit veritatis odio libero.
    include assets/templates/includes/carousel
    .container
      .content-block.col-md-10.col-md-offset-1
        img.col-md-6.img-border(
          src='assets/img/IMG_0875_sm.jpg' 
          alt='' 
          )
        p.col-md-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, adipisci, nesciunt tenetur quidem quam velit architecto aliquid sed tempore cupiditate omnis nihil expedita suscipit laborum molestias obcaecati iste eius fugit sit veritatis odio libero?
        p.col-md-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, adipisci, nesciunt tenetur quidem quam velit architecto aliquid sed tempore cupiditate omnis nihil expedita suscipit laborum molestias obcaecati iste eius fugit sit veritatis odio libero?
    blockquote.container
      p.col-md-8.col-md-offset-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, perspiciatis, fugit, optio voluptas rem consequatur assumenda cumque quia facilis aut omnis in laborum doloremque? Temporibus, consequuntur dolores.
    .parallax-image
      .container
        img.col-md-8.col-md-offset-2(
          src='assets/img/Garage56LogoFinalLongWhite@2X.png' 
          alt='Garage 56 Logo'
          )
    .container
      .content-block.col-md-10.col-md-offset-1
        img.col-md-6.img-border(
          src='assets/img/IMG_0875_sm.jpg' 
          alt='' 
          )
        p.col-md-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, adipisci, nesciunt tenetur quidem quam velit architecto aliquid sed tempore cupiditate omnis nihil expedita suscipit laborum molestias obcaecati iste eius fugit sit veritatis odio libero?
        p.col-md-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, adipisci, nesciunt tenetur quidem quam velit architecto aliquid sed tempore cupiditate omnis nihil expedita suscipit laborum molestias obcaecati iste eius fugit sit veritatis odio libero?
    include assets/templates/includes/footer
