extends assets/templates/master
append config
  - var PageTitle      = "Garage 56! All kinds of Awesome"
  - var jQuery         = true
  - var Bootstrap      = true
  - var BootstrapTheme = true
  - var BootstrapJS    = true
  - var Modernizr      = true
  - var Skrollr        = false
  - var Snap           = false
  - var PageSlug       = "Garage 56"
block body
  body.contact.sub
    include assets/templates/includes/navigation
    .container
      h1 Item Detailed
      img.mainfeat.col-md-6(src='assets/img/IMG_0875_sm.jpg' alt='')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis facilis beatae quas amet accusamus consequatur reprehenderit laboriosam aut ullam atque, numquam aspernatur illo suscipit saepe quod eum eligendi libero enim consectetur iure nulla magni beatae quas amet accusamus consequatur reprehenderit laboriosam aut ullam atque, numquam aspernatur illo suscipit saepe quod eum eligendi libero enim consectetur iure nulla magni!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis facilis beatae quas amet accusamus consequatur reprehenderit laboriosam aut ullam atque, numquam aspernatur illo suscipit saepe quod eum eligendi libero enim consectetur iure nulla magni!
      ul.itemfeatures
        li Lorem ipsum dolor sit.
        li Onsectetur adipisicing elit.
        li Lorem ipsum dolor sit.
        li Onsectetur adipisicing elit.
    ul.container.subimages
      li.col-md-3
        img(src='assets/img/IMG_0875_sm.jpg' alt='')
      li.col-md-3
        img(src='assets/img/IMG_0875_sm.jpg' alt='')
      li.col-md-3
        img(src='assets/img/IMG_0875_sm.jpg' alt='')
      li.col-md-3
        img(src='assets/img/IMG_0875_sm.jpg' alt='')
    include assets/templates/includes/footer
