extends assets/templates/master
append config
  - var PageTitle      = "Garage 56! All kinds of Awesome"
  - var jQuery         = true
  - var Bootstrap      = true
  - var BootstrapTheme = true
  - var BootstrapJS    = true
  - var Modernizr      = true
  - var Skrollr        = false
  - var Snap           = false
  - var PageSlug       = "Garage 56"
block body
  body.store.sub
    include assets/templates/includes/navigation
    .container
      h1 Store
      p.firstp.col-md-10.col-md-offset-1.cboth Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sapiente, minus, a ex, optio temporibus consectetur sunt quos eveniet, eaque culpa odit molestiae iusto placeat nobis. Similique blanditiis id, delectus iure, maiores corporis.
      ul.salesitems
        li.col-md-6
          a(href='item.html')
            img(src='assets/img/IMG_0875_sm.jpg' alt='')
          h2 Item Name 1
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis nulla numquam esse doloremque ipsa quas, eaque, temporibus quae repellendus reiciendis optio est? Sapiente non totam assumenda hic omnis excepturi et! Perferendis, autem sint cum.
          ul.features
            li Lorem ipsum dolor sit amet, consectetur.
            li Lorem dipisicing elit. Distinctio, optio nemo magni animi!
            li Lorem ipsum dolor sit amet, consectetur.
          a.btn.btn-primary(href='item.html') More Details
        li.col-md-6
          a(href='item.html')
            img(src='assets/img/IMG_0875_sm.jpg' alt='')
          h2 Item Name 2
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quod dolore quasi asperiores, consequatur, suscipit inventore pariatur ad assumenda, necessitatibus temporibus nobis reiciendis enim recusandae expedita dolores! Nesciunt reprehenderit magni molestiae laborum ut deserunt dicta, animi aut.
          ul.features
            li Lorem ipsum dolor sit amet, consectetur.
            li Lorem ipsum assumenda, necessitatibus temporibus amet, consectetur.
            li Lorem dipisicing elit. Distinctio, optio nemo magni animi!
          a.btn.btn-primary(href='item.html') More Details
      .cboth
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita harum debitis assumenda magnam repellendus, quis in facere, error distinctio aliquam, molestias. Harum rem non blanditiis est in incidunt maxime voluptate cupiditate, velit provident maiores praesentium iste perferendis voluptatum quibusdam nulla consequatur temporibus rerum. Sapiente sunt incidunt laudantium, ullam sint. Earum quibusdam expedita a praesentium culpa, iusto.
    include assets/templates/includes/footer
