- var ProjectName = "Garage 56"
- var PageTitle = "Garage 56"
- var PageSlug = "Garage 56"
- var MetaDesc = 'Garage 56 cars of awesome!.'
- var GoogleFonts = 'Neuton:400,400italic|Nunito'
- var jQuery = true
- var Modernizr = true
//- Analytics Codes
//- - var Piwik = "12345"
//- - var GoogleAnalytics = "1234567"
- var BodyClasses = ['bodyclass_one','bodyclass_two']